@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.home {
  width: 100%;
  height: 100vh;

  /* bg principal */

  background-image: url("../assets/background/graveyard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title-box {
  width: 420px;
  height: 120px;

  /* img label*/
  /* 
  background-image: url("../assets/quadro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  letter-spacing: 0.45em;

  white-space: nowrap;

  background: linear-gradient(180deg, #ffffff, #d8d8d8, #8f8f8f);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.3),
    0 0 12px rgba(255, 255, 255, 0.2);
}

.start-button {
  background:transparent;
  border:none;

  display:flex;
  align-items:center;
  gap:20px;

  padding:10px 20px;

  font-family:'Cinzel', serif;
  font-size:1rem;
  letter-spacing:0.2em;

  color:#cfcfcf;

  cursor:pointer;
}

.start-button::before,
.start-button::after{
  content:"";
  width:80px;
  height:1px;

  background:linear-gradient(
    to right,
    transparent,
    #888,
    transparent
  );
}

.start-button:hover {
  transform: scale(1.03);
}

.start-button:hover{
  color:#ffffff;
}

.start-button:hover::before,
.start-button:hover::after{
  background:linear-gradient(
    to right,
    transparent,
    #ffffff,
    transparent
  );
}
